/*
  font-family: 'Trade Winds', ;
  font-family: 'Roboto', ;
  font-family: 'Odibee Sans', ;
*/

* {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: 'Amaranth', sans-serif;
}



body {
  background-color: #FF0000;
}

h1 {
  background-color: #8B0000;
  color: white;
  font-size: 72px;
  font-family: 'Odibee Sans', cursive;
  text-align: center;
  margin: 18px;
  padding: 18px;
}

#donald {
  border-style: solid;
  margin: 18px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
